        
<form class="create-post">
  <h2 class='title'>Create A New Post</h2>
    <div>
      <label for="post-title" class='label'>Title</label>
      <input type="text" id="post-title" name="post-title" class='input'/>
    </div>
    <div>
      <label class='label'>Content</label>
      <textarea rows='4' id="content" name="content" class='input'></textarea>
    </div>
    <div>
      <button type="submit" class="button">Create</button>
    </div>
</form>

{{#if posts.length}}
<section>
  <h2 id='your-post-title'>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
