<form class="form">
    <div>
        <label for="email-login" class='label'>Email</label>
        <input type="text" id="email-login" placeholder="Enter Email" class='input'/>
    </div>
    <div>
        <label for="password-login" class='label'>Password</label>
        <input type="password" id="password-login" placeholder="Enter Password" class='input'/>
    </div>
    <div>
        <button type="submit" class="button">Login</button>
    </div>
        <p id='signupSentence'>Don't have an account? <a href='/signup'>Sign up here</a></p>
</form>

<script src="/javascript/login.js"></script>