<form class="form">
        <div>
          <label for="username-signup" class='label'>Username</label>
          <input type="text" placeholder="Enter Username" id="username-signup" class='input'/>
        </div>
        <div>
          <label for="email-signup" class='label'>Email</label>
          <input type="text" placeholder="Enter Email" id="email-signup" class='input'/>
        </div>
        <div>
          <label for="password-signup" class='label'>Password</label>
          <input type="password" placeholder="Enter Password" id="password-signup" class='input'/>
        </div>
        <div>
          <button type="submit" class = 'button'>Sign Up</button>
        </div>
</form>

<script src='/javascript/signup.js'></script>
